<!-- HTML and CSS code for "Dropdown List" page -->
<!DOCTYPE html>
<html>
  <head>
    
    <link href="{{ url_for('static', filename='assets/css/ece.css') }}" rel="stylesheet" media="screen" type="text/css">
    <title>ECE</title>
  </head>
  <body>
    <div class="dropdown">
      <button class="semester">SEMESTER 1</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Technical English</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Linear Algebra and Applied Calculus</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Chemistry for Electronics Engineering</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Programmin using C</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Indian Constitution and Freedom Movement</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button class="semester">SEMESTER 2</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Differential Equation and Complex Variables</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Physics for Electronics Engineering</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Engineering Graphics</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Data Structures</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Electron Devices</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Environmental Science and Engineering</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button class="semester">SEMESTER 3</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Transforms and Special Functions</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Basic Electrical Engineering</a></li>
          <li class="sem"><a class="sem" href="{{url_for('semester')}}" onmouseover="" style="cursor: pointer;">Analog Circuits -I </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Digital Electronics</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Signals and Systems</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Essence of Indian Traditional knowledge</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Problem Solving and Programming using Python/a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button class="semester">SEMESTER 4</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Probability and Random Processes </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Microprocessors and Microcontrollers </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Communication Theory</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Analog Circuits-II </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Open-Elective I</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Python Programming For Machine Learning</a></li>
        </ul>
      </div>
    </div>

    <div class="dropdown1">
      <button class="semester">SEMESTER 5</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Digital Signal Processing  </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Control System Engineering </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">EM Waves and Waveguides </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Digital Communication </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective-I</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective-II </a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown1">
      <button class="semester">SEMESTER 6</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Antenna Theory </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Wireless Communication</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">VLSI Design</a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Analog Circuits-II </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Open-Elective II</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown2">
      <button class="semester">SEMESTER 7</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">RF and Microwave Engineering </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Optical Communication and Networks </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Embedded Systems </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective-III  </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective- IV</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown2">
      <button class="semester">SEMESTER 8</button>
      <div class="dropdown-content">
        <ul>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective-V </a></li>
          <li class="sem"><a class="sem" href="{{url_for('login')}}" onmouseover="" style="cursor: pointer;">Professional Elective-VI  </a></li>
        </ul>
      </div>
    </div>
  </body>
</html>


