<!DOCTYPE html>
<html>
<head>
	<link href="{{ url_for('static', filename='assets/css/signup.css') }}" rel="stylesheet" media="screen" type="text/css">
	<title>Sign Up</title>
</head>
<body>
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
	<form action="{{ url_for('signup') }}" method="POST">
		<label class="username"> Username:</label>
		<input class="a" type="text" name="username" required>
		<br>
		<label class="password">Password:</label>
		<input class="b" type="password" name="password" required>
		<br>
		<label class="confirm_password">Confirm Password:</label>
		<input class="c" type="password" name="confirm_password" required>
		<br>
		<input class="submit" type="submit" value="Sign Up">
	</form>
</body>
</html>
